.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
button {
  margin-right: 10px;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  background: #018f;
  color: white;
  border: none;
}
button:hover{
  background-color: #111;
  color: #95deeb;
}


.form-box {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 5px;
  border: 1px solid #aaa;
}
h2{
  color: #170430;
  text-align: center;
}
.botn{
  display: block;
  margin: auto;
}